* {
  font-family: arial, sans-serif;
}

body {
  margin: 0;
  background-color: #202124;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.app {
  display: flex;
  width: 652px;
  height: 210px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.output,
.input {
  display: flex;
  flex-direction: column;
  width: 300px;
}

textarea {
  background-color: transparent;
  color: #bdc1c6;
  border: none;
  resize: none;
  padding: 10px;
  width: 280px !important;
  height: 146px;
  border-radius: 10px;
  outline: none;
  overflow: auto;
  font-size: 28px;
  margin-top: 10px;
}

.output textarea {
  background-color: #303134;
}

.arrow-container {
  padding: 15px;
  cursor: pointer;
}
.arrow-container svg:hover {
  fill: #fff;
}

.arrow-container svg {
  width: 26px;
  height: 26px;
  fill: #5a5a5d;
}

input {
  border: 1px solid #818588;
  border-radius: 8px;
  box-sizing: border-box;
  color: #bdc1c6;
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  width: 100%;
}

.select-drop-down input {
  color: #8ab4f8;
  padding: 5px 15px;
  font-size: 15px;
}

.input .delete {
  position: relative;
  left: 260px;
  top: -110px;
  font-size: 50px;
  color: #bdc1c6;
  cursor: pointer;
}
.input .delete:hover {
  color: #8ab4f8;
}

/* CSS */
.button-39 {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
}

.button-39:hover {
  background-color: rgb(249, 250, 251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}
