* {
  font-family: arial, sans-serif;
}

body {
  margin: 0;
  background-color: #202124;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.app {
  display: flex;
  width: 652px;
  height: 210px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.output,
.input {
  display: flex;
  flex-direction: column;
  width: 300px;
}

textarea {
  background-color: transparent;
  color: #bdc1c6;
  border: none;
  resize: none;
  padding: 10px;
  width: 280px !important;
  height: 146px;
  border-radius: 10px;
  outline: none;
  overflow: auto;
  font-size: 28px;
  margin-top: 10px;
}

.output textarea {
  background-color: #303134;
}

.arrow-container {
  padding: 15px;
  cursor: pointer;
}
.arrow-container svg:hover {
  fill: #fff;
}

.arrow-container svg {
  width: 26px;
  height: 26px;
  fill: #5a5a5d;
}

input {
  border: 1px solid #818588;
  border-radius: 8px;
  box-sizing: border-box;
  color: #bdc1c6;
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  width: 100%;
}

.select-drop-down input {
  color: #8ab4f8;
  padding: 5px 15px;
  font-size: 15px;
}

.input .delete {
  position: relative;
  left: 260px;
  top: -110px;
  font-size: 50px;
  color: #bdc1c6;
  cursor: pointer;
}
.input .delete:hover {
  color: #8ab4f8;
}

/* CSS */
.button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  margin-top: 2px;
}

.button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:before {

